<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="post/static/css/style_create.css"/>
    <link rel="stylesheet" type="text/css" href="post/static/css/style_create.css"/>
    <link rel="stylesheet" type="text/css" href="post/static/css/style_create.css"/>
    <link rel="stylesheet" type="text/css" href="post/static/css/style_create.css"/>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style_create.css">
    <script src="http://cdn.ckeditor.com/4.4.6/standard-all/ckeditor.js"></script>

    <title>Création d'un article</title>
</head>
<body>
    {% include "menu.html" %}

    <!-- Form body -->
    <div id="form_body" class="container">

        <form action="" method="POST">
            {% csrf_token %}
            <div id="title_block" class="col-md-12">
                <span>Titre  </span>
                <input type="text" class="form-control" name="name"/>
            </div>

            <textarea cols="80" id="editor1" name="description" rows="10"></textarea>

            <div id="valid_radio_btn" class="col-md-12">
            <label class="btn btn-primary btn-xs">
                <input type="radio" name="category" value="AR"> Article
            </label>
            <label class="btn btn-primary btn-xs">
                <input type="radio" name="category" value="IN"> Incident
            </label>
            <label class="btn btn-primary btn-xs">
                <input type="radio" name="category" value="RE"> Ressource
            </label>
            <label class="btn btn-primary btn-xs">
                <input type="radio" name="category" value="DI"> Discussion
            </label>

            <input id="valid_btn" class="btn btn-warning" type="submit" value="Valid">
            </div>
        </form>
    </div>

    <script>
		CKEDITOR.replace( 'editor1', {
			height: 260
		} );
	</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/library/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>