#form_body {
    padding-top: 150px;
}

#title_block {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#valid_btn {
    float: right;
}

#valid_radio_btn {
    margin-top: 10px;
    padding-bottom: 35px;
}