<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style_index.css">
</head>
<body>
    {% include "menu.html" %}

    <!-- Body -->
    <div class="container" id="bbody">

        <!-- Search Bar -->
        <div id="search" class="col-md-8 col-md-offset-2">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <div id="btn_category" class="col-md-10 col-md-offset-2">
            <form method="GET" action="">
                <br>
                <label class="btn btn-primary btn-xs">
                    <input type="radio" name="category" value="ALL" checked> Tous
                </label>
                <label class="btn btn-primary btn-xs">
                    <input type="radio" name="category" value="AR"> Articles
                </label>
                <label class="btn btn-primary btn-xs">
                    <input type="radio" name="category" value="IN"> Incidents
                </label>
                <label class="btn btn-primary btn-xs">
                    <input type="radio" name="category" value="RE"> Ressources
                </label>
                <label class="btn btn-primary btn-xs">
                    <input type="radio" name="category" value="DI"> Discussions
                </label>
                <button type="submit" value="filter" class="btn btn-success">Filtrer</button>
            </form>
        </div>
    <a href="{% url 'post.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Poster</a>
        <!-- Articles view-->
        <div id="btn_category" class="col-md-8 col-md-offset-2">
            <h1>Liste des tickets</h1>

            {% for elem in objects %}

                <h3>
                    {{ elem.name }}
                </h3>
                <p> {{ elem.description | safe }}</p>

            {% endfor %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/library/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
