<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style_index.css">
</head>
<body>
    <!-- Menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a href="#">Actualité</a>
                </li>
                <li>
                    <a href="#">Trombinoscope</a>
                </li>
                <li>
                    <a href="../poster">Poster</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="../accounts/profile/">Mon profil</a></li>
                        <li class="divider"></li>
                        <li><a href="../accounts/logout/">Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Body -->
    <div class="container" id="bbody">

        <!-- Search Bar -->
        <div id="search" class="col-md-8 col-md-offset-2">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <div id="btn_category" class="col-md-10 col-md-offset-2">
            <form method="GET" action="">
                <br>
                <label class="btn btn-primary">
                    <input type="radio" name="category" value="ALL" checked> All Elements
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="category" value="AR"> Articles
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="category" value="IN"> Incidents
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="category" value="RE"> Ressources
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="category" value="DI"> Discussions
                </label>
                <button type="submit" value="filter" class="btn btn-success">Filtrer</button>
            </form>
        </div>
        <!-- Articles view-->
        <div id="btn_category" class="col-md-8 col-md-offset-2">
            <h1>Liste des tickets</h1>

            {% for elem in objects %}

                <h3>
                    {{ elem.name }}
                </h3>
                <p> {{ elem.description }}</p>

            {% endfor %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/library/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
