<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style_trombi.css">
</head>
<body>
    {% include "menu.html" %}

    <div id="trombi" class="container">
        <table width="1000" border="0" cellpadding="5">
            <tr>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
            </tr>
            <tr>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
            </tr>
            <tr>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
            </tr>
            <tr>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
                <td align="center" valign="center">
                    <img src="{{ STATIC_URL }}/media/person.png" width="120px" alt="description here"/>
                </td>
            </tr>



</table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/library/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
